# Python compiled
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store

# Virtual environment
.env
venv/

# Jupyter
.ipynb_checkpoints/

# Project specific
data/
res/
example/
Accuracy Validation/

# Temporary
*~
*.pyc
